body {
  font-family: 'Open Sans', sans-serif;
}

#login{
  height: 100vh;
  overflow: auto;
  background-image: linear-gradient(rgb(73, 152, 230), rgba(241, 132, 237, 0.7)), url('http://localhost:3001/images/law-login.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  .form-content {
    height: 360px;
    background-color: #ffffff;
    margin-top: 5rem;
    padding: 2rem;
    border: 1px solid #e5e5e5;
  }
  form {
    margin-top: 3rem;
  }
}

#register {
  background-image: linear-gradient(rgb(73, 152, 230), rgba(241, 132, 237, 0.7)), url('http://localhost:3001/images/law-bussiness.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  .title {
    h2, p {
      color: #ffffff;
    }
  }
  .form-content {
    background-color: #ffffff;
    padding: .85rem 3rem;
    border-left: 1px solid #e5e5e5;
  }
  .mt-5 {
    margin-top: 7rem;
  }
}

.dashboard {
  background-color: #efefef;
  #side-menu {
    background-color: #ffffff;
    border-right: 1px #e5e5e5 solid;
    ul {
      li {
        margin: .5rem 0;
      }
    }
    .menu {
      .title {
        text-align: center;
        padding: .6rem;
      }
      .uk-nav-item {
        display: flex;
        align-items: center;
        border-radius: 30px;
        padding: .5rem 2rem;
        margin: 0 2rem;
        color: white;
        &.uk-active {
          background-color: rgba(255,255,255, .2);
          box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
        }
        span {
          padding: .5rem;
        }
      }
      .uk-nav-item:hover {
        background-color: hsla(0,0%,100%,.1);
      }
    }
    @media screen and (min-width: 960px) {
      &.uk-width-1-6\@m {
        width: calc(100% * 1 / 10.001);
      }
    }
  }
  #content {
    .content-wrapper {
      min-height: calc(100vh - 56px - 42px);
      margin-top: 15px;
    }

    .side-actions {
      hr {
        width: 90%;
      }
    }
    @media screen and (min-width: 960px){
        &.uk-width-5-6\@m {
          width: calc(100% * 5 / 5.56);
        }
    }
  }

  form {
    .react-datepicker-wrapper {
      .react-datepicker__input-container {
        input {
          width: 50%;
          height: 38px;
          background: #fff;
          color: #666;
          padding: 0 10px;
          border: 1px solid #e5e5e5;
          transition: .2s ease-in-out;
          transition-property: color,background-color,border;
        }
      }
    }
    .react-datepicker {
      border-radius: 0rem;
      border: 1px solid #e5e5e5;
      font-family: "Open Sans";
      .react-datepicker__header {
        border-bottom: 1px solid #e5e5e5;
      }
      .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover {
        background-color: #0f7ae5;
        border-radius: 0;
      }
      .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range {
        background-color: #1e87f0;
        border-radius: 0;
      }
      .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        color: #333;
      }
      .react-datepicker__day--selected {
        color: #fff;
      }
    }
  }
  .css-bg1rzq-control {
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-transition-property: color,background-color,border;
    transition-property: color,background-color,border;
    border-radius: 0px !important;
  }
  .css-1szy77t-control {
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-transition-property: color,background-color,border;
    transition-property: color,background-color,border;
    border-radius: 0px !important;
  }
  .css-1szy77t-contro:hover {
    outline: 0;
    background-color: #fff;
    color: #666;
    border: 1px solid #1e87f0 !important;
  }

  #caseFiles {
    .folders {
      margin-top: 1rem;
      .ul-folders {
        border-right: 1px solid #efefef;
        li:hover {
          background-color: #fbfbfb;
          span:hover {
            cursor: pointer;
          }
        }
        .crop-field {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          max-width: 100%;
        }
      }
    }
    .files-folders {
      margin-top: 1rem;
      table {
        tbody {
          tr {
            td:not(:first-child) {
              width: 150px;
            }
          }
        }
      }
      .crop-field {
        max-width: 250px;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          max-width: 100%;
        }
      }
    }
  }

  #info {
    padding-right: 40px;
    a:hover {
      text-decoration: none;
    }
  }
}

.files-modal {
  ul {
    li {
      list-style: none;
      span:hover {
        cursor: pointer;
      }
    }
  }
}

#offcanvas-flip-notes {
  .top-actions {
    display: flex;
    align-items: center;
    float: right;
    top: 10px;
    position: absolute;
    right: 15px;
  }
  span:hover {
    cursor: pointer;
  }
  .react-datepicker-popper {
    width: 150px;
    .react-datepicker__time-container {
      width: 150px;
      .react-datepicker__time {
        width: 150px;
        .react-datepicker__time-box {
          width: 150px;
        }
      }
    }
  }
}

#card-list {
  .top-actions {
    display: flex;
    align-items: center;
    float: right;
    top: 10px;
    position: relative;
    right: 15px;
    z-index: 99;
    .uk-iconnav>*>a {
      display: flex;
    }
  }
  .uk-card {
    h3 {
      margin-top: 15px;
    }
  }
  .uk-card:hover {
    cursor: pointer;
  }
}

.p-side-1 {
  padding: 0 1rem;
}

.p-side-2 {
  padding: 0 2rem;
}

.p-side-3 {
  padding: 0 3rem;
}